 <h1>add new post</h1>
 <%=form_for @post do |f| %>
 <p>
 <br><%=f.label :title %></br>
 <br><%=f.text_field :title %></br>
 </p>
 <p>
 <br><%=f.label :content %></br>
 <br><%=f.text_field :content %></br>
 </p>
 <p>
 <%=f.submit "click to add new post" %>
 </p>
 <% end %>
